In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('products1.csv')

In [5]:
df.head(10)

,id,model_name,is_active,created_at,company_id,created_by_id,product_type_id,hsn_code,power_rating,price,description
0,1,2PP Mounting Structure (Hot Dip Galvanised),1,2020-04-30 19:37:00.000000,1,1,1,NaN,NaN,NaN,NaN
1,2,AC Cables (3.5Cx120sq. mm) Armoured Al POLYCAB,1,2020-04-30 19:37:00.000000,1,1,1,NaN,NaN,NaN,NaN
2,3,AC Cables (4Cx16sq. mm) Cu Flexible POLYCAB,1,2020-04-30 19:37:00.000000,1,1,1,NaN,NaN,NaN,NaN
3,4,AC Junction Box (Changeover),1,2020-04-30 19:37:00.000000,1,1,1,NaN,NaN,NaN,NaN
4,5,Al Lugs (120 Sq. mm),1,2020-04-30 19:37:00.000000,1,1,1,NaN,NaN,NaN,NaN
5,6,Al Lugs (16 Sq. mm),1,2020-04-30 19:37:00.000000,1,1,1,NaN,NaN,NaN,NaN
6,7,Cable Ties (Stainless Steel),1,2020-04-30 19:37:00.000000,1,1,1,NaN,NaN,NaN,NaN
7,8,Cable Ties (UV Protected PVC),1,2020-04-30 19:37:00.000000,1,1,1,NaN,NaN,NaN,NaN
8,9,Cable Trays (Galvanised Iron) 50x25 mm,1,2020-04-30 19:37:00.000000,1,1,1,NaN,NaN,NaN,NaN
9,10,Cable Trays (Galvanised Iron) 50x40mm,1,2020-04-30 19:37:00.000000,1,1,1,NaN,NaN,NaN,NaN

In [7]:
mask=df.isnull()
mask

,id,model_name,is_active,created_at,company_id,created_by_id,product_type_id,hsn_code,power_rating,price,description
0,False,False,False,False,False,False,False,True,True,True,True
1,False,False,False,False,False,False,False,True,True,True,True
2,False,False,False,False,False,False,False,True,True,True,True
3,False,False,False,False,False,False,False,True,True,True,True
4,False,False,False,False,False,False,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...
477,False,False,False,False,False,False,False,False,False,False,False
478,False,False,False,False,False,False,False,False,False,False,False
479,False,False,False,False,False,False,False,False,False,False,False
480,False,False,False,False,False,False,False,False,True,True,False
481,False,False,False,False,False,False,False,False,True,True,False

In [8]:
df.dropna().head(10)

,id,model_name,is_active,created_at,company_id,created_by_id,product_type_id,hsn_code,power_rating,price,description
185,189,CS3U 350P,1,2020-04-30 19:37:00.000000,3,1,3,85414011.0,350.0,23.0,Poly-crystalline with 1500V (IEC/UL) or 1000V ...
208,212,3M6 325P,1,2020-04-30 19:37:00.000000,15,1,3,85414011.0,325.0,18.5,Poly Crystalline Silicon Module with 1000 V Vd...
209,213,CS3U 360P,1,2020-04-30 19:37:00.000000,3,1,3,85414011.0,360.0,23.0,Poly-crystalline with 1500V (IEC/UL) or 1000V ...
212,216,3M6 320P,1,2020-04-30 19:37:00.000000,15,1,3,85414011.0,320.0,18.5,Poly Crystalline Silicon Module with 1000 V Vd...
225,229,CS3U 355P,1,2020-04-30 19:37:00.000000,3,1,3,85414011.0,355.0,23.0,Poly-crystalline with 1500V (IEC/UL) or 1000V ...
253,257,3S6 350P,1,2020-04-30 19:37:00.000000,15,1,3,85414011.0,350.0,21.0,Poly Crystalline Silicon Module with 1000 V Vd...
271,275,3S6 365M,1,2020-04-30 19:37:00.000000,15,1,3,85414011.0,365.0,22.0,Mono Crystalline Silicon Module with 1000 V Vd...
274,278,3M6 330P,1,2020-04-30 19:37:00.000000,15,1,3,85414011.0,330.0,18.5,Poly Crystalline Silicon Module with 1000 V Vd...
296,301,3S6 360M,1,2020-04-30 19:37:00.000000,15,1,3,85414011.0,360.0,22.0,Mono Crystalline Silicon Module with 1000 V Vd...
302,307,3S6 370M,1,2020-04-30 19:37:00.000000,15,1,3,85414011.0,370.0,22.0,Mono Crystalline Silicon Module with 1000 V Vd...

In [9]:
df.fillna(0, inplace=True)

In [11]:
df.head(10)

,id,model_name,is_active,created_at,company_id,created_by_id,product_type_id,hsn_code,power_rating,price,description
0,1,2PP Mounting Structure (Hot Dip Galvanised),1,2020-04-30 19:37:00.000000,1,1,1,0.0,0.0,0.0,0
1,2,AC Cables (3.5Cx120sq. mm) Armoured Al POLYCAB,1,2020-04-30 19:37:00.000000,1,1,1,0.0,0.0,0.0,0
2,3,AC Cables (4Cx16sq. mm) Cu Flexible POLYCAB,1,2020-04-30 19:37:00.000000,1,1,1,0.0,0.0,0.0,0
3,4,AC Junction Box (Changeover),1,2020-04-30 19:37:00.000000,1,1,1,0.0,0.0,0.0,0
4,5,Al Lugs (120 Sq. mm),1,2020-04-30 19:37:00.000000,1,1,1,0.0,0.0,0.0,0
5,6,Al Lugs (16 Sq. mm),1,2020-04-30 19:37:00.000000,1,1,1,0.0,0.0,0.0,0
6,7,Cable Ties (Stainless Steel),1,2020-04-30 19:37:00.000000,1,1,1,0.0,0.0,0.0,0
7,8,Cable Ties (UV Protected PVC),1,2020-04-30 19:37:00.000000,1,1,1,0.0,0.0,0.0,0
8,9,Cable Trays (Galvanised Iron) 50x25 mm,1,2020-04-30 19:37:00.000000,1,1,1,0.0,0.0,0.0,0
9,10,Cable Trays (Galvanised Iron) 50x40mm,1,2020-04-30 19:37:00.000000,1,1,1,0.0,0.0,0.0,0

In [16]:
df1 = pd.read_csv('employee.csv', index_col=0)

In [19]:
df1.head()

,name,present_address,present_city,present_pincode,permanent_address,permanent_city,permanent_pincode,contact,contact1,email,...,em_relation2,company,application_date,application_position,application_by,bank_holder_name,bank_account_no,bank_name,branch_name,ifsc
id,,,,,,,,,,,,,,,,,,,,,
1,Anishaa Paul,"G-122, Saket",New Delhi,110017.0,"G-122, Saket",New delhi,110017.0,9.911118e+09,NaN,anishaapaul@gmail.com,...,Brother,Ornate,NaN,Marketing,Bhamini Shenoy(frinend)/ working in the Organi...,NaN,NaN,NaN,NaN,NaN
2,Robin Varghese,"WZ-2180, 2nd Floor, Street no 03, virendra nag...",New Delhi,110058.0,"WZ-2180, 2nd Floor, Street no 03, virendra nag...",New delhi,110058.0,9.990643e+09,NaN,robinvarghese@outlook.com,...,Mother,NaN,16-12-2015,Sale,Na,NaN,NaN,NaN,NaN,NaN
3,Shivangi singh,833 sector-18,faridabad,121002.0,"833, sector-18",faridabad,121002.0,9.717704e+09,Na,s.shivang1985@gmail.com,...,husband,Ornate,01-08-2016,Account,Shivangi Singh,Shivangi singh,1.768100e+12,"Canara Bank & triveni phase 2, New Delhi -110017","366 sector-5, pushp vihar, new delhi-110017",CNRB0001768
4,Abhay kumar Jaiswal,"96B Top Floor, Arjan Nagar, Sagdarjung Encla...",New Delhi,110029.0,"96B Top Floor, Arjan Nagar, Sagdarjung Enclave...",New delhi,110029.0,9.582311e+09,011-26181161,abhay.kumar.jaiswal@icai.org,...,NaN,Ornate,19-09-2016,Finance Manager,Abhay Jaiswal,Abhay kumar Jaiswal,3.447420e+10,"State bank of Indai, sagdarjung enclave","55,arhun nagar, sagdarjung enclave, new delhi-...",SBIN0013182
5,Parvej Alam,"798/21, Zakir nagar, Okhla",New Delhi,110025.0,"Mahbullapur Dhakee, Basta, Bijmor",U.P,246725.0,9.910820e+09,NaN,alamparvej90@gmail.com,...,NaN,Ornate,02-01-2017,Logistic Manager,Parvej Alam,Parvej Alam,3.294326e+10,State bank of India,Zakir Nagar,SBIN0008079

In [20]:
df1['first']=df1['name']

In [21]:
df1.head()

,name,present_address,present_city,present_pincode,permanent_address,permanent_city,permanent_pincode,contact,contact1,email,...,company,application_date,application_position,application_by,bank_holder_name,bank_account_no,bank_name,branch_name,ifsc,first
id,,,,,,,,,,,,,,,,,,,,,
1,Anishaa Paul,"G-122, Saket",New Delhi,110017.0,"G-122, Saket",New delhi,110017.0,9.911118e+09,NaN,anishaapaul@gmail.com,...,Ornate,NaN,Marketing,Bhamini Shenoy(frinend)/ working in the Organi...,NaN,NaN,NaN,NaN,NaN,Anishaa Paul
2,Robin Varghese,"WZ-2180, 2nd Floor, Street no 03, virendra nag...",New Delhi,110058.0,"WZ-2180, 2nd Floor, Street no 03, virendra nag...",New delhi,110058.0,9.990643e+09,NaN,robinvarghese@outlook.com,...,NaN,16-12-2015,Sale,Na,NaN,NaN,NaN,NaN,NaN,Robin Varghese
3,Shivangi singh,833 sector-18,faridabad,121002.0,"833, sector-18",faridabad,121002.0,9.717704e+09,Na,s.shivang1985@gmail.com,...,Ornate,01-08-2016,Account,Shivangi Singh,Shivangi singh,1.768100e+12,"Canara Bank & triveni phase 2, New Delhi -110017","366 sector-5, pushp vihar, new delhi-110017",CNRB0001768,Shivangi singh
4,Abhay kumar Jaiswal,"96B Top Floor, Arjan Nagar, Sagdarjung Encla...",New Delhi,110029.0,"96B Top Floor, Arjan Nagar, Sagdarjung Enclave...",New delhi,110029.0,9.582311e+09,011-26181161,abhay.kumar.jaiswal@icai.org,...,Ornate,19-09-2016,Finance Manager,Abhay Jaiswal,Abhay kumar Jaiswal,3.447420e+10,"State bank of Indai, sagdarjung enclave","55,arhun nagar, sagdarjung enclave, new delhi-...",SBIN0013182,Abhay kumar Jaiswal
5,Parvej Alam,"798/21, Zakir nagar, Okhla",New Delhi,110025.0,"Mahbullapur Dhakee, Basta, Bijmor",U.P,246725.0,9.910820e+09,NaN,alamparvej90@gmail.com,...,Ornate,02-01-2017,Logistic Manager,Parvej Alam,Parvej Alam,3.294326e+10,State bank of India,Zakir Nagar,SBIN0008079,Parvej Alam

In [27]:
df1['first']=df1['first'].replace("[ ].*","", regex=True)

df1.head()

In [28]:
df1.head()

,name,present_address,present_city,present_pincode,permanent_address,permanent_city,permanent_pincode,contact,contact1,email,...,company,application_date,application_position,application_by,bank_holder_name,bank_account_no,bank_name,branch_name,ifsc,first
id,,,,,,,,,,,,,,,,,,,,,
1,Anishaa Paul,"G-122, Saket",New Delhi,110017.0,"G-122, Saket",New delhi,110017.0,9.911118e+09,NaN,anishaapaul@gmail.com,...,Ornate,NaN,Marketing,Bhamini Shenoy(frinend)/ working in the Organi...,NaN,NaN,NaN,NaN,NaN,Anishaa
2,Robin Varghese,"WZ-2180, 2nd Floor, Street no 03, virendra nag...",New Delhi,110058.0,"WZ-2180, 2nd Floor, Street no 03, virendra nag...",New delhi,110058.0,9.990643e+09,NaN,robinvarghese@outlook.com,...,NaN,16-12-2015,Sale,Na,NaN,NaN,NaN,NaN,NaN,Robin
3,Shivangi singh,833 sector-18,faridabad,121002.0,"833, sector-18",faridabad,121002.0,9.717704e+09,Na,s.shivang1985@gmail.com,...,Ornate,01-08-2016,Account,Shivangi Singh,Shivangi singh,1.768100e+12,"Canara Bank & triveni phase 2, New Delhi -110017","366 sector-5, pushp vihar, new delhi-110017",CNRB0001768,Shivangi
4,Abhay kumar Jaiswal,"96B Top Floor, Arjan Nagar, Sagdarjung Encla...",New Delhi,110029.0,"96B Top Floor, Arjan Nagar, Sagdarjung Enclave...",New delhi,110029.0,9.582311e+09,011-26181161,abhay.kumar.jaiswal@icai.org,...,Ornate,19-09-2016,Finance Manager,Abhay Jaiswal,Abhay kumar Jaiswal,3.447420e+10,"State bank of Indai, sagdarjung enclave","55,arhun nagar, sagdarjung enclave, new delhi-...",SBIN0013182,Abhay
5,Parvej Alam,"798/21, Zakir nagar, Okhla",New Delhi,110025.0,"Mahbullapur Dhakee, Basta, Bijmor",U.P,246725.0,9.910820e+09,NaN,alamparvej90@gmail.com,...,Ornate,02-01-2017,Logistic Manager,Parvej Alam,Parvej Alam,3.294326e+10,State bank of India,Zakir Nagar,SBIN0008079,Parvej

In [29]:
del(df1['first'])

In [30]:
df1.head()

,name,present_address,present_city,present_pincode,permanent_address,permanent_city,permanent_pincode,contact,contact1,email,...,em_relation2,company,application_date,application_position,application_by,bank_holder_name,bank_account_no,bank_name,branch_name,ifsc
id,,,,,,,,,,,,,,,,,,,,,
1,Anishaa Paul,"G-122, Saket",New Delhi,110017.0,"G-122, Saket",New delhi,110017.0,9.911118e+09,NaN,anishaapaul@gmail.com,...,Brother,Ornate,NaN,Marketing,Bhamini Shenoy(frinend)/ working in the Organi...,NaN,NaN,NaN,NaN,NaN
2,Robin Varghese,"WZ-2180, 2nd Floor, Street no 03, virendra nag...",New Delhi,110058.0,"WZ-2180, 2nd Floor, Street no 03, virendra nag...",New delhi,110058.0,9.990643e+09,NaN,robinvarghese@outlook.com,...,Mother,NaN,16-12-2015,Sale,Na,NaN,NaN,NaN,NaN,NaN
3,Shivangi singh,833 sector-18,faridabad,121002.0,"833, sector-18",faridabad,121002.0,9.717704e+09,Na,s.shivang1985@gmail.com,...,husband,Ornate,01-08-2016,Account,Shivangi Singh,Shivangi singh,1.768100e+12,"Canara Bank & triveni phase 2, New Delhi -110017","366 sector-5, pushp vihar, new delhi-110017",CNRB0001768
4,Abhay kumar Jaiswal,"96B Top Floor, Arjan Nagar, Sagdarjung Encla...",New Delhi,110029.0,"96B Top Floor, Arjan Nagar, Sagdarjung Enclave...",New delhi,110029.0,9.582311e+09,011-26181161,abhay.kumar.jaiswal@icai.org,...,NaN,Ornate,19-09-2016,Finance Manager,Abhay Jaiswal,Abhay kumar Jaiswal,3.447420e+10,"State bank of Indai, sagdarjung enclave","55,arhun nagar, sagdarjung enclave, new delhi-...",SBIN0013182
5,Parvej Alam,"798/21, Zakir nagar, Okhla",New Delhi,110025.0,"Mahbullapur Dhakee, Basta, Bijmor",U.P,246725.0,9.910820e+09,NaN,alamparvej90@gmail.com,...,NaN,Ornate,02-01-2017,Logistic Manager,Parvej Alam,Parvej Alam,3.294326e+10,State bank of India,Zakir Nagar,SBIN0008079

In [36]:
def splitname(row):
    row['first']= row['name'].split(' ')[0]
    row['last']=row['name'].split(' ')[-1]
    return row

In [37]:
df1= df1.apply(splitname, axis='columns')

In [38]:
df1.head()

,name,present_address,present_city,present_pincode,permanent_address,permanent_city,permanent_pincode,contact,contact1,email,...,application_date,application_position,application_by,bank_holder_name,bank_account_no,bank_name,branch_name,ifsc,first,last
id,,,,,,,,,,,,,,,,,,,,,
1,Anishaa Paul,"G-122, Saket",New Delhi,110017.0,"G-122, Saket",New delhi,110017.0,9.911118e+09,NaN,anishaapaul@gmail.com,...,NaN,Marketing,Bhamini Shenoy(frinend)/ working in the Organi...,NaN,NaN,NaN,NaN,NaN,Anishaa,Paul
2,Robin Varghese,"WZ-2180, 2nd Floor, Street no 03, virendra nag...",New Delhi,110058.0,"WZ-2180, 2nd Floor, Street no 03, virendra nag...",New delhi,110058.0,9.990643e+09,NaN,robinvarghese@outlook.com,...,16-12-2015,Sale,Na,NaN,NaN,NaN,NaN,NaN,Robin,Varghese
3,Shivangi singh,833 sector-18,faridabad,121002.0,"833, sector-18",faridabad,121002.0,9.717704e+09,Na,s.shivang1985@gmail.com,...,01-08-2016,Account,Shivangi Singh,Shivangi singh,1.768100e+12,"Canara Bank & triveni phase 2, New Delhi -110017","366 sector-5, pushp vihar, new delhi-110017",CNRB0001768,Shivangi,singh
4,Abhay kumar Jaiswal,"96B Top Floor, Arjan Nagar, Sagdarjung Encla...",New Delhi,110029.0,"96B Top Floor, Arjan Nagar, Sagdarjung Enclave...",New delhi,110029.0,9.582311e+09,011-26181161,abhay.kumar.jaiswal@icai.org,...,19-09-2016,Finance Manager,Abhay Jaiswal,Abhay kumar Jaiswal,3.447420e+10,"State bank of Indai, sagdarjung enclave","55,arhun nagar, sagdarjung enclave, new delhi-...",SBIN0013182,Abhay,Jaiswal
5,Parvej Alam,"798/21, Zakir nagar, Okhla",New Delhi,110025.0,"Mahbullapur Dhakee, Basta, Bijmor",U.P,246725.0,9.910820e+09,NaN,alamparvej90@gmail.com,...,02-01-2017,Logistic Manager,Parvej Alam,Parvej Alam,3.294326e+10,State bank of India,Zakir Nagar,SBIN0008079,Parvej,Alam